@charset "UTF-8";
/*Обнуление CSS*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
/*@media (max-width: $maxw) {
  conteiner {
    max-width: midw;
  }
  @media (max-width: $midw) {
  conteiner {
    max-width: minw;
  }
}*/
/*.conteiner{
    max-width: $maxw;
}*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.wrapper .main-screen {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
}
.wrapper .main-screen .header .header-row .list {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  margin-left: 80px;
}
.wrapper .main-screen .header .header-row .list .li {
  margin-top: 30px;
  padding-right: 60px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.wrapper .main-screen .header .header-row .list .li-l {
  margin-top: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: "Lato";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.wrapper .main-screen .header .header-row .list .li-l:after {
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #000;
  padding-right: 30px;
}
.wrapper .content {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}